body {
    background-color: black;
    color: rgb(77, 0, 77);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
}

.input-container {
    width: 300px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    border: 1px solid purple;
}

button {
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5900a6;
}

#posterCanvas {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display:none;
}

#blockInfo {
    pointer-events: none;
}