.poster {
  padding-left: 100px;
}

.fetchBlock {
  background-color: rgba(75, 75, 75, 0.205);
}

.downloadSVG {
  background-color: rgba(75, 75, 75, 0.205);
}

.inputs {
  padding-left: 20px;
}

.blockInfo {
  padding-left: 50px;
}

.instructions {
  padding-left: 20px;
}